html {
	font-family: "Roboto", thin;
  	font-weight: 100;
}

.row {
	margin-bottom: 0;
}

header {
	border-style: solid;
	border-width: 0 0 5px 0;
	border-color: #bcbbbb;
}

h1 {
	font-size: 4vw;
	text-align: right;
	color: #686868;
}

h5 {
	font-size: 1.5vw;
	text-align: right;
	color: #686868;
}

h3 {
	font-size: 2.2vw;
	color: #686868;
}

.featured {
	color: #c4c4c4;
}

img {
	max-width: 100%;
}

.left-text {
	text-align: left;
}

.right-text {
	text-align: right;
}

.center-text {
	text-align: center;
}

a {
	color: #686868;
}

.mylogo {
	width: 50%;
	padding: 20px 0;
}

.yayoi {
	width: 100%;
	padding-top: 30px;
}

p {
	font-size: 1.1vw;
}

@media only screen and (max-width : 600px) {
	.yayoi {
		padding-top: 10px;
	}
  	.featured {
  		text-align: center;
  	}
  	.center {
  		padding: 0;
  		margin: 8px;
  	}
  	h1 {
  		margin-bottom: -5px;
  	}
}

@media only screen and (min-width: 601px) and (max-width : 1000px) {
	.container {
		margin: 10px;
		width: 98%;
	}
}




